.banner-1{
    background-color: antiquewhite;
    width: 1280px;
    height: 560px;
}



.a{
    float: left;
    margin-top: 100px;
    width: 622px;
    height: 301px;
    
    

}

.bangla{
    
margin-left: 100px;
margin-bottom: 5px;
color: darkgray;


}


.b{
    float: right;
    margin-top: 80px;
    margin-right: 100px;
    
    
    
    

    
    
}
.bold{
    font-size: 50px;
    margin-left: 100px;
    


    
}




.btn{
    background-color: aquamarine;
    border-radius: 7px;
    margin: 0%;
    border: none;
    width: 270px;
    height: 56px;
    margin-left: 100px;
}


/* banner-2 style */

.banner-2{
    width: 1280px;
    height: 560px;
    margin-top: 80px;
}

.card{
    display: flex;
    margin-top: 40px;
}




.box-1{
background-color: aliceblue;
width: 410px;
height: 270px;
border-radius: 7px;
margin-right: 24px;

}

.photo-1{
    margin-top: 32px;
    margin-left: 32px;
}

.text{
    font-size: small;
    margin-left: 32px;
}

.bt{
    background-color: rgb(163, 163, 235);
    width: 122px;
    height: 41px;
    margin-bottom: 32px;
    border: none;
    border-radius: 4px;
    margin-left: 32px;
}





.box-2{
background-color: cornsilk;
width: 410px;
height: 270px;
border-radius: 7px;
margin-right: 24px;
}

.photo-2{
    margin-top: 32px;
    margin-left: 32px;
}

.bd{
    background-color: brown;
    width: 122px;
    height: 41px;
    margin-bottom: 32px;
    border: none;
    border-radius: 4px;
    margin-left: 32px;
}

.box-3{

    background-color: aquamarine;
    width: 410px;
height: 270px;
border-radius: 7px;
margin-right: 24px;
}

.photo-3{
    margin-top: 32px;
    margin-left: 32px;
}
.vd{
    background-color: blueviolet;
    width: 122px;
    height: 41px;
    margin-bottom: 32px;
    border: none;
    border-radius: 4px;
    margin-left: 32px;
}


/* banner-3 style */



.lekha{
    width: 1256px;
    height: 100px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.banner-3{
    background-color: whitesmoke;
    width: 1280px;
    height: 402px;
    display: flex;
    border-radius: 8px;
}

.photo-4{
    width: 408px;
    height: 306px;
    margin-right: 32px;
    margin-left: 48px;
    margin-top: 48px;
    margin-bottom: 48px;
    border-radius: 8px;
}





.photo-5{
    width: 134px;
    height: 40px;
}


.sa{
    width: 139px;
    height: 48px;
    background-color: blue;
    border: none;
    border-radius: 5px;
    margin: 15px 5px 5px 5px;
}

.ef{
    margin-top:  48px;
    margin-bottom:  48px;
    margin-right: 48px;
    margin-left: 32px;

}



/* banner-4 style */

.banner-4{
    background-color: whitesmoke;
    width: 1280px;
    height: 560px;
    margin-bottom: 10px;
    margin-top: 5px;
    height: 402px;
    display: flex;
    border-radius: 8px;
    border: none;
    border-radius: 5px;
    margin: 15px 5px 5px 5px;
}

.ef{
    margin-top:  48px;
    margin-bottom:  48px;
    margin-right: 48px;
    margin-left: 32px;
}

.photo-7{
    width: 408px;
    height: 306px;
    margin-right: 32px;
    margin-left: 48px;
    margin-top: 48px;
    margin-bottom: 48px;
    border-radius: 8px;
}



.sr{
    background-color: cadetblue;
    width: 139px;
    height: 48px;
    border: none;
    border-radius: 5px;
    margin: 15px 5px 5px 5px
}

/* banner-5 */

.align-center{
    justify-items: center;
    width: 1280px;
    height: 402px;
}

.lek{
    
    width: 1280px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding-top: calc(center);
    
}




.box-4{
    display: flex;
    margin-top: 40px;
    
    margin: 10px 10px 10px 10px;
    border: 5px;
}

.lg{
    background-color: aqua;
    
    
    margin-top:32px ;
    margin-bottom:32px; 
    margin-right:24px; 
    margin-left: 24px;
    padding: 30px;
    border-radius: 6px;

}

.lk{
    background-color:whitesmoke;

    margin-top:32px ;
    margin-bottom:32px; 
    margin-right:24px; 
    margin-left: 24px;
    padding: 30px;
    border-radius: 6px;

}

.mn{
    background-color: rgb(161, 160, 160);
    width: 800px;
    height: 64px;
    border: none;
}

.rt{
    background-color: rgb(133, 229, 229);

    width: 139px;
    height: 48px;
    border: none;
    border-radius: 5px;
    margin: 15px;
    justify-content: center;
    float: calc(center);
margin-left: 300px;

}